div.laside{
  list-style: none;
  div.active{
    color: #666;
    font-weight: bold;
    font-size: 11px;
    span{
      font-size: 12px;
      font-weight: normal;
    }
  }
  h3{
    font-size: 12px;
    color: #666;
    font-style: italic;
    display: inline;
  }

  .sup{
    margin-left: 3px;
  }

  .sub{
    margin-top: 7px;
    margin-left: 10px;
  }

  .group{
    margin-top: 5px;
    margin-bottom: 5px;
    >div{
      margin-top:2px;
    }
  }
}

.filter{
  border-right: solid 1px #ddd;
  padding: 10px;
  padding-bottom: 0;
  @include clearfix();
}

.laside {
  border-right: 1px solid #ddd;
  padding: 10px;
  padding-top: 20px;
  @include clearfix();

}