.right-panel{
  background: #fff;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin-top: 15px;
  padding-bottom: 10px;
}

.scroll-title{
  margin: 10px 3px 0 3px;
  padding-bottom: 10px;
  font-style: italic;
  border-bottom: 1px solid #ddd;
}
.scroll {
  width: 100%;
  overflow: hidden;
}

.scroll-right{
  height: 775px;
  width: 100%;

}

.scroll-left{
  height: 510px;
}

.extra-product{
  min-height: 100px;
}

.extra-product2{
  min-height: 100px;
}

.scroll ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  li{
    border: 1px solid transparent;
    margin: 0 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    &:hover{
      border: 1px solid #999;
      background: #fff;
      @include box-shadow(2px 2px 3px 0px #999);
      @include border-radius(3px);
    }
    height: 170px;
  }
}

.extra-img{
  width: 140px;
  height: 110px;
  margin: 0px auto;
  background: #fff;
  &:hover{
    border: 1px solid #999;
  }
}

.img-center{
  @include clearfix();
  margin: 10px auto;
  width: 120px;
  height: 90px;
}

.extra-info{
  margin: 0;
  font-size: 11px;
  color: #333;
  text-align: center;
  h3{
    font-size: 11px;
    line-height: 1em;
    margin: 5px 0 3px 0;
  }
}

.extra-name{
  margin: 0 3px;

  @include clearfix();
}

.extra-price{
  padding: 0;
  margin: 0;
  font-size: 11px;
  @include clearfix();
}

.new_price{
  color: red;
  font-weight: bold;
}

.scroll-nav{
  @include full();
  height: 20px;
  margin: 3px 10px 0 10px;

}

.scroll-prev, .scroll-next{
  text-align: center;
  width: 25px;
  height: 15px;
}

.scroll-prev{
  float: left;
  margin-left: 40px;
}

.scroll-next{
  margin-right: 65px;
  float: right;
}

