//.gallery{
//  @include clearfix();
//  @include pad(0);
//}

//.gallery > li{
//  @include gallery(3 of 9);
//  @include clearfix();
//  @include pad(0);
//  height: auto;
//}
.gallery{
  padding: 0;
  margin: 0;
  list-style: none;
}
.gallery li {
  width: 49.3%;
  @include breakpoint(683px) {
    width: 32.63%;
    @include breakpoint(1240px) {
      width: 24.24%;
    }
  }
}

.imgWr2{
}

.gvresult {
  text-align: center;
  float: left;
  height: auto;
  margin: 8px .7% 8px 0;
  width: 24%;
  min-width: 180px;
  border-width: 0;
  vertical-align: top;
}
i {
  display: list-item;
  text-align: -webkit-match-parent;
}

.itmcdV2 {
  min-height: 240px;
  min-width: 210px;
  @include breakpoint(700px){
    min-height: 210px;
    min-width: 180px;
  }
  position: relative;
  border: 1px solid transparent;
  -moz-transition: box-shadow .25s,min-height .35s;
  -webkit-transition: box-shadow .25s,min-height .35s;
  transition: box-shadow .25s,min-height .35s;
}

.full-width {
  width: 100%;
}

.itmcd .lyr {
  position: absolute;
  border: 1px solid transparent;
  width: 100%;
  @include breakpoint(480px){
    padding: 10px;
  }
  overflow: hidden;
  border-bottom-width: 1px;
  top: -11px;
  left: -11px;
  min-height: 210px;
  @include breakpoint(700px) {
    min-height: 240px;
  }
  -webkit-transition: box-shadow .25s,min-height .75s;
  -moz-transition: box-shadow .25s,min-height .75s;
  transition: box-shadow .25s,min-height .75s;
}

.l-shad {
  overflow: hidden;
}

.lftd {
  border-radius: 3px;
}


.l-shad {
  position: relative;
  border: 1px solid #DDD;
  background: white;
  &:hover{
    border: 1px solid #999;
  }
}

.wpr {
  position: relative;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.wpr {
  background: #fff;
}


.imgWr {
  height: 150px;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  display: table;
  margin-top: 10px;
}

.imgWr a {
  vertical-align: middle;
}

.gvtitle, .gvresult div.meta, .mskuItm, .eek {
  padding: 0 5px;
}

.gvtitle {
  min-height: 17px;
  height: 17px;
  line-height: 17px;
  margin: 3px 0;
}

.gvtitle h3 {
  font-size: 14px;
  font-family: inherit;
  line-height: 1.25;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 10px 0 0;
}


.prices, .prices1 {
  padding: 0 5px 3px 5px;
  color: $red;
}


.gvtitle, .gvresult div.meta, .mskuItm, .eek {
  padding: 0 5px;
}

.meta {
  @include breakpoint(700px) {
    opacity: 0;
  }
  filter: alpha(opacity=0);
  margin-top: 0;
}

.itmcd .lyr .etrsb {
  float: right;
}

.meta .amt, .meta .lstTm, .meta .etrsb, .meta .free, .meta .loc {
  padding: 0 ;
  display: block;
  color: #555;
  font: normal 11px arial;
  white-space: normal;
}

.bold, .g-b {
  font-weight: bold;
}

.hotness-GV {
  font-size: 12px;
}



.itmcd:hover .ql_r {
  background-color: #fff!important;
  filter: alpha(opacity=1)!important;
  -moz-opacity: 1.0!important;
  -khtml-opacity: 1.0!important;
  opacity: 1.0!important;
}


.itmcdV2:hover .nav-controls {
  position: absolute;
  top: 85px;
  width: 225px;
  height: 0;
  opacity: 1;
  transition: .75s;
}

.itmcdV2:hover .nav-controls .prev {
  background-image: url("http://pics.ebaystatic.com/aw/pics/buy/csa/dcp_L2/US/imgDCP_sprite_2.png");
  background-position: -190px -232px;
  color: #f70;
  float: left;
  height: 58px;
  width: 33px;
}

.itmcdV2:hover .nav-controls .next {
  background-image: url("http://pics.ebaystatic.com/aw/pics/buy/csa/dcp_L2/US/imgDCP_sprite_2.png");
  background-position: -220px -278px;
  color: #f70;
  float: right;
  height: 58px;
  width: 33px;
}


.no-touch .itmcdV2:hover .meta {
  opacity: 1;
  filter: alpha(opacity=100);
}

@include breakpoint(700px) {
  .no-touch .itmcdV2:hover .lyr {
    -webkit-box-shadow: 6px 6px 5px rgba(0, 0, 0, .4);
    box-shadow: 6px 6px 5px rgba(0, 0, 0, .4);
    border: 1px solid #aaa;
    border-radius: 3px;
    z-index: 5;
    background: #fff;
  }
}

.no-touch .itmcdV2:hover div.gvtitle,.no-touch .itmcdV2:hover div.gvtitle h4,.no-touch .itmcdV2:hover div.gvtitle h3 {
  white-space: normal;
  height: auto;
  line-height: 17px;
}

.no-touch .itmcdV2:hover div.gvtitle.twoLnTtl {
  height: 33px;
}


.itmcdV2:hover .ql_r {
  opacity: 1;
  filter: alpha(opacity = 100);
  -webkit-transition: box-shadow .25s,min-height .35s,opacity .75s;
}

.itmcdV2:hover a.alt,.itmcdV2:hover a.art {
  display: block;
}

.itmcdV2:hover .bin .deal {
  display: inline-block;
}


.itmcdV2:hover .gvtitle .sold {
  display: inline;
}


.itmcdV2:hover .iiChrty {
  display: inline;
}




.product-label {
  position: absolute;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  line-height: 1;
  top: 5px;
  z-index: 3;
}

span.sale-product-icon {
  background-color: $red;
  display: block;
  text-align: center;
}

.product-label span {
  position: relative;
  padding: 7px 10px;
  font-size: 12px;
  font-weight: 600;
  //text-transform: uppercase;
  border-radius: 4px;
}

span.old_price{
  text-decoration: line-through !important;
  font-weight: lighter;
  color: #666;
}




.title{
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: bold;
  color: #333;
  font-style: italic;
  font-family: Helvetica, Arial, sans-serif;
}

.ribbon a{
  color: white !important;
  text-decoration: underline;
}



.ribbon{
  display: table;
  //width: 150px;
  position:relative;
  padding: 0 10px 0 10px;
  font-size:12px;
  margin: 0 0 0 -15px;
  line-height: 1.875em;
  color: #fff;
  border-radius: 0 0.156em 0.156em 0;
  background: $blue;
  box-shadow: -1px 2px 3px rgba(0,0,0,0.5);
}

.ribbon:before, .ribbon:after{
  position:absolute;
  content: '';
  display: block;
}

.ribbon:before{
  width: 0.469em;
  height: 100%;
  padding: 0 0 0.438em;
  top:0;
  left: -0.469em;
  background:inherit;
  border-radius: 0.313em 0 0 0.313em;
}

.ribbon:after{
  width: 0.313em;
  height: 0.313em;
  background: rgba(0,0,0,0.35);
  bottom: -0.313em;
  left: -0.313em;
  border-radius: 0.313em 0 0 0.313em;
  box-shadow: inset -1px 2px 2px rgba(0,0,0,0.3);
}

.ribbon-right{
  margin: 0 0 0 -3px;
  background: red;
}

@media (max-width: 600px) {

  body{
    font-size:0.875em;
  }

  .ribbon{
    line-height: 1.143em;
    padding: 0.5em;
  }

  .ribbon:before, .ribbon:after{
    font-size: 0.714em;
  }

}
