@import "lib/compass";
@import "lib/colors/colors";


@import "normalize";
@import "nprogress";
@import "susylayout";
@import "gallery";
@import "cart";
@import "aside";
a {
  color: #0654ba;
  text-decoration: none;
  &:visited{
    color: #0654ba;
  }
  &:hover{
    text-decoration: underline;
  }
}

a.pLink:visited{
  color : white;
}
