@import "lib/compass";
@import "lib/colors/colors";


@import "normalize";
@import "nprogress";
@import "susylayout";
@import "gallery";
@import "cart";
@import "nav";
@import "aside";
@import "slimbox";
a {
  font-family: Arial;
  color: #333;
  text-decoration: none;
  &:visited{
    color: #333;
  }
  &:hover{
    text-decoration: underline;
    color: #f90;
    cursor: pointer;
  }
}
span.num{
  display: inline-block;
  color: #999;
  vertical-align: baseline;
  margin-left: 3px;
}

a.pLink {
  color: white;
  &:visited{
    color: white;
  }
}

hr{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

hr.filter-menu {
  padding: 0;
  border: none;
  border-top: 1px solid #ddd;
  color: #333;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-size: 10px;
}

hr.filter-menu:after {
  content: "Lọc sản phẩm";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}

hr.style-menu {
  padding: 0;
  border: none;
  border-top: medium double #ddd;
  color: #333;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-size: 10px;
}

hr.style-menu:after {
  content: "Danh mục";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}


.t-input{
  padding: 0 5px;
  border: 1px solid rgba(grey, 0.5);
  height: 34px;
  margin: 10px 0 10px 0;
  display: inline;
}
#t-input{
  float: left;
  width: 50%;
  margin-right: 0;
  @include border-radius(3px 0 0 3px);
}
#t-select{
  float: left;
  width: 19.5%;
  margin-right: 10px;
  @include border-radius(0 3px 3px 0);
  font-size: 16px;
}

#t-search{
  @include border-radius(3px);
  padding-left: 15px;
  padding-right: 15px;
  background: -webkit-gradient(linear,left top,left bottom,from(#0079bc),to(#00509d));
}

