@(supType: models.SupType, subType: models.SubType , group: models.GroupP,
	brand: models.Brand, origin: models.Origin, legType: models.LegType, legNumber: models.LegNumber,
	_sub: String = "", _gro: String = "", _sb: String = "", _kw: String = "", _li: Int = 12, _v: String = "",
	_br: String = "", _or: String = "", _lt: String = "", _ln: String = "", _min:Int = 0, _max: Int = 500000000)




<aside class="aside">

	<div class="laside sa">
		@views.html.partials.partialsAside.mainAside(supType, subType, group, _sub, _gro, _sb, _kw, _li, _v, _br, _or, _lt, _ln)

	<div class="filter">
		<hr class="filter-menu">
		<div>
			<br>
			<form data-pjax action="@routes.ProductCtrl.collection(_sub, _gro, 1, _sb,  "", _li, _v, _br, _or, _lt, _ln, _min, _max)" method="GET">
				Tên:<input type="text" size="18" placeholder="Tên/Mã sản phẩm" name="_kw" value="@_kw">
				<button type="submit"> > </button>
			</form>
			<br>
			<form data-pjax action="@routes.ProductCtrl.collection(_sub, _gro, 1, _sb, _kw, _li, _v, _br, _or, _lt, _ln)" method="GET">
				Giá:<input type="text" size="5" maxlength="13" name="_min"  value="@_min">
				-  <input type="text" size="5" maxlength="13" name="_max"  value="@_max">
				<button type="submit"> > </button>
			</form>
		</div>

		<div class="lt-ln">
			<div class="lt">
				<span class="f-title">Xuất xứ</span>
				@if(_or != ""){
					<div><a class="pfull" href="@routes.ProductCtrl.collection(_sub, _gro, 1, _sb, _kw, _li, _v, _br, "", _lt, _ln, _min, _max)">&empty; @_or</a></div>
				} else {
					<ul class="lshow hideContent">
					@for(
						o <- List("Việt Nam", "Trung Quốc", "Chính hãng", "Taiwan", "UK")
							.zip(List(origin.s1, origin.s2, origin.s3, origin.s4, origin.s5))
					){
						@if(o._2 >0){
							<li>
								<div><a class="pfull" href="@routes.ProductCtrl.collection(_sub, _gro, 1, _sb, _kw, _li, _v, _br, o._1, _lt, _ln, _min, _max)">@o._1</a><span class="num">(@o._2)</span></div>
							</li>
						}
					}
					</ul>

					@if(List(origin.s1, origin.s2, origin.s3, origin.s4, origin.s5).filter(_ > 0).length > 3) {
						<div class="show-more ">
							<a aria-label="Show more categories" class="cat-sh" href="#" onclick="return false;">
								<span class="">Hiện thêm</span><span class="icon"></span>
							</a>
						</div>
					}
				}

			</div>

			<div class="ln">
				<span class="f-title">Nhãn hiệu</span>
				@if(_br != ""){
					<div><a class="pfull" href="@routes.ProductCtrl.collection(_sub, _gro, 1, _sb, _kw, _li, _v, "", _or, _lt, _ln, _min, _max)">&empty; @_br</a></div>
				} else {
					<ul class="lshow hideContent">
					@for(
						o <- List("Other", "Xeltek", "ATMEL", "ELNEC", "TOP", "SOFI-TECH", "Raspberry Pi", "ST",
							"InvenSense", "Eagle Power", "VISHAY", "Harvatek", "Andorin", "Sharp")
							.zip(List(brand.s1, brand.s2, brand.s3, brand.s4, brand.s5,
							brand.s6, brand.s7, brand.s8, brand.s9, brand.s10, brand.s11, brand.s12, brand.s13, brand.s14))
					){
						@if(o._2 >0){
							<li><div class="br"><a class="pfull" href="@routes.ProductCtrl.collection(_sub, _gro, 1, _sb, _kw, _li, _v, o._1, _or, _lt, _ln, _min, _max)">@o._1</a><span class="num">(@o._2)</span></div></li>
						}
					}
					</ul>
					@if( List(brand.s1, brand.s2, brand.s3, brand.s4, brand.s5,
						brand.s6, brand.s7, brand.s8, brand.s9, brand.s10, brand.s11, brand.s12, brand.s13, brand.s14).filter(_ > 0).length > 3) {
						<div class="show-more ">
							<a aria-label="Show more categories" class="cat-sh" href="#" onclick="return false;">
								<span class="">Hiện thêm</span><span class="icon"></span>
							</a>
						</div>
					}
				}
			</div>

		</div>

		<div class="lt-ln">
			<div class="lt">
				<span class="f-title">Kiểu chân</span>
				@if(_lt != ""){
					<div><a class="pfull" href="@routes.ProductCtrl.collection(_sub, _gro, 1, _sb, _kw, _li, _v, _br, _or, "", _ln, _min, _max)">&empty; @_lt</a></div>
				} else {
					<ul class="lshow hideContent">
					@for(o <- List( "DIP", "SIP", "LQFP", "PQFP", "QFN", "SOIC", "TQFP", "T-1 3/4", "SMD", "SMD0805")
						.zip(List( legType.s2, legType.s3, legType.s4, legType.s5, legType.s6,
						legType.s7, legType.s8, legType.s9, legType.s10, legType.s11))
					){
						@if(o._2>0) {
							<li>
								<div><a class="pfull" href="@routes.ProductCtrl.collection(_sub, _gro, 1, _sb, _kw, _li, _v, _br, _or, o._1 , _ln, _min, _max)">@o._1</a><span class="num">(@o._2)</span></div>
							</li>
						}
					}
					</ul>
					@if(List( legType.s2, legType.s3, legType.s4, legType.s5, legType.s6,
						legType.s7, legType.s8, legType.s9, legType.s10, legType.s11).filter(_ > 0).length > 3){
						<div class="show-more ">
							<a aria-label="Show more categories" class="cat-sh" href="#" onclick="return false;">
								<span class="">Hiện thêm</span><span class="icon"></span>
							</a>
						</div>
					}
				}

			</div>

			<div class="ln">
				<span class="f-title hideContent">Số chân</span>
				@if(_ln != ""){
					<div><a class="pfull" href="@routes.ProductCtrl.collection(_sub, _gro, 1, _sb, _kw, _li, _v, _br, _or, _lt, "", _min, _max)">&empty; @_ln</a></div>
				} else {
					<ul class="lshow hideContent">
					@for(o <- List( "208", "100", "64", "44", "40",  "32", "28", "24", "20", "16", "14", "8", "4")
						.zip(List( legNumber.s2, legNumber.s3, legNumber.s4, legNumber.s5, legNumber.s6,
						legNumber.s7, legNumber.s8, legNumber.s9, legNumber.s10, legNumber.s11, legNumber.s12,
						legNumber.s13, legNumber.s14, legNumber.s15))
					){
						@if(o._2>0){
							<li>
								<div><a class="pfull" href="@routes.ProductCtrl.collection(_sub, _gro, 1, _sb, _kw, _li, _v, _br, _or, _lt, o._1, _min, _max)">@o._1</a><span class="num">(@o._2)</span></div>
							</li>
						}
					}
					</ul>

					@if(List( legNumber.s2, legNumber.s3, legNumber.s4, legNumber.s5, legNumber.s6,
						legNumber.s7, legNumber.s8, legNumber.s9, legNumber.s10, legNumber.s11, legNumber.s12,
						legNumber.s13, legNumber.s14, legNumber.s15).filter(_ > 0).length > 3){
						<div class="show-more ">
							<a aria-label="Show more categories" class="cat-sh" href="#" onclick="return false;">
								<span class="">Hiện thêm</span><span class="icon"></span>
							</a>
						</div>
					}
				}
	</div>
	</div>
	<hr>


	</div>

	<div class="hotline">
		<h2>Hỗ trợ trực tuyến</h2>
		<br>
		<p>Hot line: </p> <span>01666.555.336</span>
	</div>

	<hr>
	<div class="tb">
		<h2>Thông Báo Cửa Hàng</h2>
		<img src="@routes.Assets.versioned("imageDemo/hanhtrinhbuu.jpg")" alt="">
	<p style="color: red">Thời Gian Bán Hàng </p>
	<p style="color: blue">--Tại Cửa Hàng-- </p>
	<p style="color: red">Tất Cả Các Ngày</p>
	<p style="color: red">Trong Tuần</p>
	<p style="color: blue">8h00 - 18h00</p>
	<p style="color: red">--Online--</p>
	<p style="color: blue">9h00 - 15h00</p>
	</div>

	</div>
</aside>