@(products: List[models.Product], supType: models.SupType, subType: models.SubType , group: models.GroupP,
	brand: models.Brand, origin: models.Origin, legType: models.LegType, legNumber: models.LegNumber,
	_sub: String = "", _gro: String = "", _page: Int = 1, _sb: String = "", _kw: String = "", _li: Int = 8, _v: String = "",
	_br:String = "", _or:String = "", _lt:String = "", _ln:String = "",
	_min: Int = 0, _max: Int = 500000000)(implicit pjaxVersion: pjax.PjaxVersion)


@views.html.partials.aside(supType, subType, group, brand, origin, legType, legNumber, _sub, _gro, _sb, _kw, _li, _v, _br, _or, _lt, _ln, _min, _max)

<div id="pjax-container" class="content">
		<div class="c-left">
			<div class="menuCol1" > &rarr; Phần cứng, Thiết bị.</div>
				<div class="col1">
					<ul class="gallery">
					@for(product <- products){
						<li class="simpleCart_shelfItem ra-5">
							<a class="pfull item_name" href='@routes.ProductCtrl.viewProduct( product.subTypeUrl, product.groupUrl, product.pUrl, _sb, _v)'>
								<div class="img">
									<img src='@product.image.head.small' alt="" width="120" height="100">
								</div>
							</a>
							<div class="codeP">
								<b><a class="pfull" href='@routes.ProductCtrl.viewProduct( product.subTypeUrl, product.groupUrl, product.pUrl, _sb, _v)'>@product.code</a></b>
								<div class="stock">(@product.stock)</div>
							</div>
							<div class="nameP item_name">@product.name</div>
							<div class="priceP ">
				Giá bán lẻ:
								<div class="price item_price"><b>@java.text.NumberFormat.getIntegerInstance.format(product.price)</b></div>
								<b>VNĐ</b>
							</div>
							<input type="text" value="1" class="item_quantity" size="1"  id="item-quantity">
							<div class="item_link hide">@routes.ProductCtrl.viewProduct(product.subTypeUrl, product.groupUrl, product.pUrl, _sb, _v)</div>
							<button class="item_add">Add to Cart</button>
							<div class="hide more"> more more morem more more moremore more more more </div>
						</li>
					}
					</ul>

			</div>
		</div>

	<div class="c-right ra-5">
		<div class="demo"></div>
	</div>
	</div>

