@(assetCDN: String => String, canonical: String)

<meta name="viewport" content="width = device-width, initial-scale = 1.0">

<link rel="dns-prefetch" href="//static.luanlv.info" />
<link rel="dns-prefetch" href="//static2.luanlv.info" />
<link rel="dns-prefetch" href="//static3.luanlv.info" />
<link rel="dns-prefetch" href="//static4.luanlv.info" />
<link rel="canonical" href="@canonical.replaceFirst("//static4", "//www").replaceFirst("//static3", "//www").replaceFirst("//static2", "//www").replaceFirst("//static", "//www")" />
<link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("favicon.png")'>
<link rel="stylesheet" href='@routes.Assets.at("stylesheets/main.css")'>
<link rel="stylesheet" href='@routes.Assets.at("photoswipe/photoswipe.css")'>
<link rel="stylesheet" href='@routes.Assets.at("photoswipe/default-skin/default-skin.css")'>
@*<link rel="stylesheet" href='@routes.Assets.versioned("slimbox/css/slimbox2.css")'>*@
@*<link rel="stylesheet" href='@routes.Assets.versioned("smoothstate/keyframes.css")'>*@
@*<link rel="stylesheet" href='@routes.Assets.versioned("smoothstate/pageTransitions.css")'>*@
@*<link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/multizoom.css")'>*@
