@(collection1: List[models.Product], collection2: List[models.Product], collection3: List[models.Product],
	supType: models.SupType, subType: models.SubType , group: models.GroupP)(implicit pjaxVersion: pjax.PjaxVersion)

@views.html.partials.asideIndex(supType, subType, group)

<div id="pjax-container" class="content">
	<div class="thongbao-left">
		<p><strong>Quý Khách nên sử dụng chức năng mua hàng online </strong>để tiết kiệm thời gian và chi phí giao dịch, tránh sai sót khi giao nhận hàng, đồng thời nhận điểm tích lũy để quy đổi thành Voucher giảm giá.<br>
			<br>
			<strong>Cty làm việc từ 8h00 sáng đến 5h00 chiều từ&nbsp;thứ hai đến thứ bảy </strong>(CN và ngày lễ nghỉ). Nếu quý khách muốn mua hàng ngoài giờ làm việc xin vui lòng gọi điện thoại để hẹn trước.</p>
	</div>
	<div class="thongbao-right ra-5"></div>


	<div class="menuCol1" > &rarr; Phần cứng, Thiết bị.</div>

	<div class="col1">
		@views.html.product.collection(collection1)
	</div>

	<div class="menuCol2"> &rarr; LK Bán dẫn & Cảm biến</div>

	<div class="col2">
		@views.html.product.collection(collection2)
	</div>

	<div class="menuCol3"> &rarr; LK Khác và Phụ kiện</div>

	<div class="col3">
		@views.html.product.collection(collection3)
	</div>

</div>