@(assetUrl: String => String, collection1: List[models.Product], collection2: List[models.Product], collection3: List[models.Product],
	supType: models.SupType, subType: models.SubType , group: models.GroupP)(implicit pjaxVersion: pjax.PjaxVersion)

@views.html.partials.asideIndex(supType, subType, group)

<div id="pjax-container" class="content">
	<div class="image-top">
		<img src="@routes.Assets.versioned("/imageDemo/slide1.jpg")" alt="">
	</div>
	<div class="thongbao-right ra-5"></div>


	<div class="menuCol1" > Phần cứng, Thiết bị.</div>

	<div class="col1">
		@views.html.product.collection(assetUrl, collection1)
	</div>

	<div class="menuCol2">  LK Bán dẫn & Cảm biến</div>

	<div class="col2">
		@views.html.product.collection(assetUrl, collection2)
	</div>

	<div class="menuCol3">  LK Khác và Phụ kiện</div>

	<div class="col3">
		@views.html.product.collection(assetUrl, collection3)
	</div>

</div>