@(supType: models.SupType, subType: models.SubType , group: models.GroupP,
	_sub: String = "", _gro: String = "", _sb: String = "", _kw: String = "", _li: Int = 8, _v: String = "",
	_br: String = "", _or: String = "", _lt: String = "", _ln: String = "")




<aside class="aside">
	<div class="laside sa">
		@views.html.partials.partialsAside.mainAside(supType, subType, group, _sub, _gro, _sb, _kw, _li, _v, _br, _or, _lt, _ln)

	<hr>

	<div class="hotline">
		<h2>Hỗ trợ trực tuyến</h2>
		<br>
		<p>Hot line: </p> <span>01666.555.336</span>
	</div>

	<hr>

	<div class="tb">
		<h2>Thông Báo Cửa Hàng</h2>
		<img src="@routes.Assets.versioned("imageDemo/hanhtrinhbuu.jpg")" alt="">
		<p style="color: red">Thời Gian Bán Hàng </p>
		<p style="color: blue">--Tại Cửa Hàng-- </p>
		<p style="color: red">Tất Cả Các Ngày</p>
		<p style="color: red">Trong Tuần</p>
		<p style="color: blue">8h00 - 18h00</p>
		<p style="color: red">--Online--</p>
		<p style="color: blue">9h00 - 15h00</p>
	</div>

	</div>
</aside>