@(supType: models.SupType, subType: models.SubType , group: models.GroupP,
	_sub: String = "", _gro: String = "", _sb: String = "", _kw: String = "", _li: Int = 8, _v: String = "",
	_br: String = "", _or: String = "", _lt: String = "", _ln: String = "")




<aside class="aside">
	<hr class="style-menu">
	<div class="laside">
		<div class="sup">
			<h3>Phần cứng, Thiết bị</h3><span class="num">(@supType.s1)</span>

			<div class="sub">

				@if(_sub != "may-nap-adapter") {
					<div class="active">Máy Nạp & Adapter <span class="num">(@subType.s11)</span></div>
				} else {
					<h3><a href="@routes.ProductCtrl.collection("may-nap-adapter", "", 1, _sb, "", _li, _v)" class="pfull">Máy Nạp & Adapter</a></h3> <span class="num">(@subType.s11)</span>
				}

				@views.html.partials.partialsAside.groupAside(
					(List("universal-programmer", "8051-usb-programmer"),
						List("Máy nạp ĐA NĂNG", "Mạch nạp 8051"),
						List(group.s111, group.s112)
						).zipped.toList,
					_sub, _gro, _sb, _kw, _li, _v
				)
			</div>

			<div class="sub">
				@if(_sub != "board-phat-trien") {
					<div class="active">Board Phát triển<span class="num">(@subType.s12)</span></div>
				} else {
					<h3><a href="@routes.ProductCtrl.collection("board-phat-trien", "", 1, _sb, "", _li, _v)" class="pfull">Board Phát triển</a></h3> <span class="num">(@subType.s12)</span>
				}

				@views.html.partials.partialsAside.groupAside(
					(List("raspberry-pi", "arduino-shield"),
						List("Raspberry PI", "Arduino and Shields"),
						List(group.s121, group.s122)
						).zipped.toList,
					_sub, _gro, _sb, _kw, _li, _v
				)
			</div>
		</div>

		<hr>

		<div class="sup">

			<h3>LK Bán dẫn & Cảm biến</h3><span class="num">(@supType.s2)</span>

			<div class="sub">
				@if(_sub != "sensor-transducer") {
					<div class="active">Sensors, Transducers<span class="num">(@subType.s21)</span></div>
				} else {
					<h3><a href="@routes.ProductCtrl.collection("sensor-transducer", "", 1, _sb, "", _li, _v)" class="pfull">Sensors, Transducers</a></h3> <span class="num">(@subType.s21)</span>
				}

				@views.html.partials.partialsAside.groupAside(
					(List("gyroscopes", "light-sensor"),
						List("Gyroscopes", "Cảm biến ánh sáng"),
						List(group.s211, group.s212)
						).zipped.toList,
					_sub, _gro, _sb, _kw, _li, _v
				)
			</div>

			<div class="sub">
				@if(_sub != "memory-ic") {
					<div class="active">Memory ICs<span class="num">(@subType.s22)</span></div>
				} else {
					<h3><a href="@routes.ProductCtrl.collection("memory-ic", "", 1, _sb, "", _li, _v)" class="pfull">Memory ICs</a></h3> <span class="num">(@subType.s22)</span>
				}

				@views.html.partials.partialsAside.groupAside(
					(List("AT88SC0104C-SU", "24cxx-serial-eeprom"),
						List("memory", "24Cxx Serial EEPROM"),
						List(group.s221, group.s222)
						).zipped.toList,
					_sub, _gro, _sb, _kw, _li, _v
				)
			</div>

		</div>

		<hr>

		<div class="sup">
			<h3>LK Khác và Phụ kiện</h3><span class="num">(@supType.s3)</span>

			<div class="sub">
				@if(_sub != "led") {
					<div class="active">LEDs<span class="num">(@subType.s31)</span></div>
				} else {
					<h3><a href="@routes.ProductCtrl.collection("led", "", 1, _sb, "", _li, _v)" class="pfull">LEDs</a></h3> <span class="num">(@subType.s32)</span>
				}

				@views.html.partials.partialsAside.groupAside(
					(List("led-1w", "led-smd-0805"),
						List("LED 1W", "LEDs SMD-0805 (2012)"),
						List(group.s311, group.s312)
						).zipped.toList,
					_sub, _gro, _sb, _kw, _li, _v
				)
			</div>

			<div class="sub">

				@if(_sub != "lcd-display") {
					<div class="active">LCDs Display<span class="num">(@subType.s32)</span></div>
				} else {
					<h3><a href="@routes.ProductCtrl.collection("lcd-display", "", 1, _sb, "", _li, _v)" class="pfull">LCDs Display</a></h3> <span class="num">(@subType.s32)</span>
				}

				@views.html.partials.partialsAside.groupAside(
					(List("character-lcd", "graphic-lcd"),
						List("Character LCDs", "Graphic LCDs"),
						List(group.s321, group.s322)
						).zipped.toList,
					_sub, _gro, _sb, _kw, _li, _v
				)
			</div>

		</div>

	</div>

		<hr>

		Cùng loại: <a class="pfull" href="@routes.ProductCtrl.collection(_sub, _gro, 1, _sb, _kw, _li, _v, _br , _or, _lt, _ln)">@_gro</a>
		<br>
		<br>
		Sản phẩm tương tự
		.... <br/>
		.... <br/>
		.... <br/>
		.... <br/>
		.... <br/>
	</div>
</aside>