.scroll {
  width: 100%;
  overflow: hidden;

}

.scroll-right{
  height: 450px;
  width: 100%;
}

.scroll-left{
  height: 510px;
}

.extra-product{
  min-height: 100px;
  background: darkseagreen;
}

.extra-product2{
  min-height: 100px;
  background: lightblue;
}

.scroll ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
