@(supType: models.SupType, subType: models.SubType , group: models.GroupP,
	_sub: String = "", _gro: String = "", _kw: String = "", _li: Int = 8)

@(_gro)
<span>LK Khác và Phụ kiện (@supType.s3)</span>
<div>
	<span>LEDs (@subType.s31)</span>
	<div><a class="pfull" href="@routes.ProductCtrl.collection( "led", "led-1w", "", 8)">LED 1W </a>(@group.s311)</div>
	<div><a class="pfull" href="@routes.ProductCtrl.collection( "led", "led-smd-0805", "", 8)">LEDs SMD-0805 (2012) </a>(@group.s312)</div>
</div>