@(supType: models.SupType, subType: models.SubType , group: models.GroupP,
	_sub: String = "", _gro: String = "", _kw: String = "", _li: Int = 8)

<div class="sup">
	<h3>LK Bán dẫn & Cảm biến </h3><span class="num">(@supType.s2)</span>
	<div class="sub">
		<h3>Memory ICs</h3><span class="num">(@subType.s22)</span>
		<div class="group">
			@if(_gro == "memory"){
				<div class="active">&diams; AT88SC0104C-SU <span class="num">(@group.s221)</span></div>
				<div><a class="pfull" href="@routes.ProductCtrl.collection( "memory-ic", "24cxx-serial-eeprom", "", 8)">&rarr;24Cxx Serial EEPROM </a><span class="num">(@group.s222)</span></div>
			} else {
				<div><a class="pfull" href="@routes.ProductCtrl.collection( "memory-ic", "memory", "", 8)">&rarr;AT88SC0104C-SU </a><span class="num">(@group.s221)</span></div>
				<div class="active">&diams; 24Cxx Serial EEPROM <span class="num">(@group.s222)</span></div>
			}
		</div>
	</div>
</div>