@(supType: models.SupType, subType: models.SubType , group: models.GroupP,
	_sub: String = "", _gro: String = "", _kw: String = "", _li: Int = 8)

<span>Phần cứng, Thiết bị (@supType.s1)</span>
<div>
	<span>Máy Nạp & Adapter (@subType.s11)</span>

	@if(_gro == "universal-programmer") {
		<div>>Máy nạp ĐA NĂNG  (@group.s111)</div>
		<div><a class="pfull" href="@routes.ProductCtrl.collection("may-nap-adapter", "8051-usb-programmer", "", 8)">
			Mạch nạp 8051 </a>(@group.s112)</div>
	} else {
		<div><a class="pfull" href="@routes.ProductCtrl.collection("may-nap-adapter", "universal-programmer", "", 8)">
			Máy nạp ĐA NĂNG </a> (@group.s111)</div>
		<div>>Mạch nạp 8051 (@group.s112)</div>
	}
</div>
