@(products: List[models.Product])

<ul class="gallery">
	@for(product <- products){
		<li class="simpleCart_shelfItem ra-5">
			<div class="img">
				<img src='@routes.ImageCtrl.get(product.image.getOrElse(""), "thumb")' alt="">
			</div>
			<div class="codeP">
				<a class="pjContainer item_name" href='@routes.ProductCtrl.viewProduct(product.code)'><b>@product.code</b></a>
				<div class="stock">(@product.stock)</div>
			</div>
			<div class="nameP">
			@product.name
			</div>
			<div class="priceP ">
				Giá bán lẻ:
				<div class="price item_price"><b>@java.text.NumberFormat.getIntegerInstance.format(product.price)</b></div>
				<b>VNĐ</b>
			</div>
			<input type="text" value="1" class="item_quantity" size="1"  id="item-quantity">
			<button class="item_add">Add to Cart</div>
		</li>
	}
</ul>