@(assetCDN: String => String, products: List[models.Product], _sb: String = "", _v: String = "", _li: Int = 12, subTypeUrl: String = "list", groupUrl: String = "")

<div class="menuCol">
	<h2 class="ribbon" >
		@{products.head.info.supType}
		@if(subTypeUrl != "list"){
			>> <a href="@routes.ProductCtrl.collection(subTypeUrl, "list", 1, _sb, "", _li, _v)">@products.head.info.subType</a>}
		@if(groupUrl != "list" && groupUrl != ""){
			>> <a href="@routes.ProductCtrl.collection(subTypeUrl, groupUrl, 1, _sb, "", _li, _v)">@products.head.info.group</a>}
	</h2>
</div>

<ul class="gallery">
	@for(product <- products){
		<li  class="sresult gvresult">
			<div class="full-width mimg itmcd itmcdV2">
				<div class="lyr">

					<div class="img l-shad lftd">

						@if(product.extra.saleOff1 >0){
							<div class="product-label" style="right: 5px;"><span class="sale-product-icon">-@{product.extra.saleOff1}%</span></div>
						} else {

						}
						<div class="img full-width">
							<div class="multiImgHolder wpr">
								<div class="imgWr">
									<a href="@routes.ProductCtrl.viewProduct(product.url.subType, product.url.group, product.url.pUrl, _sb, _v, _li)" class="img imgWr2">
										<img height="140" width="160" src="@assetCDN(product.info.image.head.small)" class="img" alt="@product.core.name">
									</a>
								</div>
							</div>
						</div>
					</div>

					<div class="gvtitle">
						<h3>
							<a href="@routes.ProductCtrl.viewProduct(product.url.subType, product.url.group, product.url.pUrl, _sb, _v, _li)" class="vip">@product.core.name</a>
						</h3>
					</div>

					<div class="prices1">
						<div class="timeLeftInfo">
                        </div>
						<div class="bin">
							@if(product.extra.saleOff1 > 0) {
								<span class="amt bold price price_sale old_price">@java.text.NumberFormat.getIntegerInstance.format(product.core.price.head.price)</span>

								<span class="amt bold price price_sale">
									@java.text.NumberFormat.getIntegerInstance.format((product.core.price.head.price * (100 - product.extra.saleOff1))/100) <b>
									VND</b>
								</span>
							} else {
								<span class="amt bold price price_sale">@java.text.NumberFormat.getIntegerInstance.format(product.core.price.head.price) <b> VDN </b></span>
							}
						</div>
					</div>

					<div class="meta">

						<div class="hotness-GV bold">
							<div class="hotness-signal red">
                  @product.info.sold sold - @product.info.vote voted</div>
						</div>

						@*<div class="lrow">*@
							@*<span class="ship">*@
								@*<span>*@
									@*<span class="bfsp">Free international shipping</span></span>*@
							@*</span></div>*@

					</div>

				</div>
			</div>
		</li>
	}
</ul>