@(form: Form[models.Product], error: String)(implicit flash: Flash)


<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link href='@routes.Assets.versioned("stylesheets/css/product/create.css")' rel="stylesheet">
		<link rel="stylesheet" href='@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")' />
		<link rel="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.5/css/bootstrap-select.min.css" />
		<script src='@routes.Assets.versioned("ckeditor/ckeditor.js")'></script>
		<script src='@routes.Assets.versioned("ckeditor/samples/js/sample.js")'></script>
	</head>
	<body>
		<div class="container">
			@if(error.length > 0){
				<div class="alert alert-warning">@error</div>
			}

			@form.globalError.map { error =>
				<div class="alert alert-warning">@error.message</div>
			}

			@flash.get("success").map{m =>
				<div class="alert alert-success">@m</div>
			}
			@flash.get("error").map{m =>
				<div class="alert alert-error">@m</div>
			}

			@helper.form(action = routes.ProductCtrl.create){
				<button style="margin-top: 5px;" class="initialism slide_open btn btn-success">Chọn ảnh</button>
				<div class="image-wrap" style="min-width: 180px; height: 150px; border: solid 1px #ddd; margin-top: 5px; margin-bottom: 5px;">
					<div>
						@for(i <- 0 to 4){
							@if(form("info.image["+i+"].small").value.nonEmpty){<img class="view" src="@form("info.image["+i+"].small").value" alt="">}
						}
					</div>
				</div>
				<div class="listImage">
					@for(i <- 0 to 4){
						@for(t <- List("origin", "small", "thumb")){
							@if(form("info.image[" + i + "]." + t +"").value.nonEmpty){<input type="hidden" name="image[@i].@t" class="" value="@form("info.image["+i+"]."+t+"").value">}
						}
					}
				</div>
				<input type="hidden" id="supTypeUrl" name="url.supType" value="" />
				@*<input type="hidden" id="url.supType" name="url.supType" value="" />*@
				<input type="hidden" id="subTypeUrl" name="url.subType" value="" />
				<input type="hidden" id="groupUrl" name="url.group" value=""/>
				<input type="hidden" id="supType" name="info.supType" value="" />
				<input type="hidden" id="subType" name="info.subType" value="" />

				<input style="float: right" class="btn btn-group" type="submit">
				<input type="text" name="url.pUrl" placeholder="Url cho sản phẩm" value="@form("url.pUrl").value.getOrElse("")" style="float: right">
				<br>
				<div class="btn-group" >
					<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="sr-only">Chọn nhóm</span>
						<span class="caret"></span>
					</button>
					<div class="dropdown-menu">
						<div >
							<div class="supType"><span>phan-cung-thiet-bi</span><p>Phần cứng, Thiết bị</p></div>
							<div class="subType">
								<div class="subType"><span>may-nap-adapter</span><p>Máy Nạp & Adapter</p></div>
								<div class="sel">
									<span>universal-programmer</span>
									<span>
										<select name="">
											<option value="Universal Programmer" selected="selected">Universal Programmer</option>
											<option value="USB Programmer">USB Programmer</option>

										</select>
									</span>
									<span>Máy nạp ĐA NĂNG</span>
								</div>
								<div class="sel">
									<span>8051-usb-programmer</span>
									<span>
										<select name="">
											<option value="Firmware Master Chip" selected="selected">Firmware Master Chip</option>
											<option value="ISP Programmer">ISP Programmer</option>
											<option value="ISP Programmer / Emulator">ISP Programmer / Emulator</option>
											<option value="ISP/Parallel Programmer Mode">ISP/Parallel Programmer Mode</option>
											<option value="Parallel Programmer mode">Parallel Programmer mode</option>
										</select>
									</span>
									<span>Mạch nạp 8051</span></div>
								<div class="sel">
									<span>arm-debug-programmer</span>
									<span>Mạch nạp ARM</span>
								</div>
							</div>
							<div >
								<div class="subType"><span>board-phat-trien</span><p>Board Phát triển</p></div>
								<div class="sel">
									<span>raspberry-pi</span>
									<span>
										<select name="">
											<option value="mini PC" selected="selected">mini PC</option>
											<option value="Raspberry Pi Case">Raspberry Pi Case</option>
										</select>
									</span>
									<span>Raspberry PI</span>
								</div>
								<div class="sel">
									<span>arduino-shield</span>
									<span>
										<select name="">
											<option value="Arduino" selected="selected">Arduino</option>
											<option value="Arduino Shield">Arduino Shield</option>
										</select>
									</span>
									<span>Arduino and Shields</span>
								</div>
							</div>
						</div>

						<div role="separator" class="divider"></div>

						<div>
							<div class="supType"><span>ban-dan-cam-bien</span><p>LK Bán dẫn & Cảm biến</p></div>
							<div >
								<div class="subType"><span>sensor-transducer</span><p>Sensors, Transducers</p></div>
								<div class="sel">
									<span>gyroscopes</span>
									<span>
										<select name="">
											<option value="Accelerometer and Gyro Breakout" selected="selected">Accelerometer and Gyro Breakout</option>
											<option value="Gyroscope sensor">Gyroscope sensor</option>
										</select>
									</span>
									<span>Gyroscopes</span>
								</div>
								<div class="sel">
									<span>light-sensor</span>
									<span>
										<select name="">
											<option selected="selected" value="Light Sensor">Light Sensor</option>
											<option value="Sensors">Sensors</option>
										</select>
									</span>
									<span>Cảm biến ánh sáng</span>
								</div>
							</div>
							<div>
								<div class="subType"><span>memory-ic</span><p>Memory ICs</p></div>
								<div class="sel">
									<span>memory</span>
									<span>
										<select name="">
											<option selected="selected" value="Memory">Memory</option>
										</select>
									</span>
									<span>AT88SC0104C-SU</span>
								</div>
								<div class="sel">
									<span>24cxx-serial-eeprom</span>
									<span>
										<select name="">
											<option selected="selected" value="Memory-I2C Serial EEPROM">Memory-I2C Serial EEPROM</option>
										</select>
									</span>
									<span>24Cxx Serial EEPROM</span>
								</div>
							</div>
						</div>
						<div role="separator" class="divider"></div>

						<div>
							<div class="supType"><span>lk-khac-phu-kien</span><p>LK Khác và Phụ kiện</p></div>
							<div class>
								<div class="subType"><span>led</span><p>LEDs</p></div>
								<div class="sel">
									<span>led-1w</span>
									<span>
										<select name="">
											<option selected="selected" value="LED 1W">LED 1W</option>
										</select>
									</span>
									<span>LED 1W</span>
								</div>
								<div class="sel">
									<span>led-smd-0805</span>
									<span>
										<select name="">
											<option selected="selected" value="LEDs">LEDs</option>
										</select>
									</span>
									<span>LEDs SMD-0805 (2012)</span>
								</div>
							</div>
							<div>
								<div class="subType"><span>lcd-display</span><p>LCDs Display</p></div>
								<div class="sel">
									<span>character-lcd</span>
									<span>
										<select name="">
											<option selected="selected" value="Graphic LEDs">Graphic LEDs</option>
										</select>
									</span>
									<span>Character LCDs</span>
								</div>
								<div class="sel">
									<span>graphic-lcd</span>
									<span>
										<select name="">
											<option selected="selected" value="Graphic LCDs">Graphic LCDs</option>
											<option value="LCDs">LCDs</option>
										</select>
									</span>
									<span>Graphic LCDs</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="mainDiv container">
						<div class="divLeft">
							Phân nhóm
							<div style="margin-top: 3px;" id="groupSelect">
								<select name="" id=""></select>
							</div>

							@bootstrap3.text(form("core.code"),
								label = "Mã sản phẩm",
								placeholder = "",
								help = "",
								value= form("core.code").value.getOrElse(""))

							@bootstrap3.text(form("core.name"),
								label = "Tên sản phẩm",
								placeholder = "",
								help = "",
								value= form("core.name").value.getOrElse(""))

							Nhãn hiệu
							<div style="margin-top: 3px;">
								<select name="info.brand" >
									<option value="Other" @if(form("info.brand").value.getOrElse("") == "Other"){ selected }>Other</option>
									<option value="Xeltek" @if(form("info.brand").value.getOrElse("") == "Xeltek"){ selected }>Xeltek</option>
									<option value="ATMEL" @if(form("info.brand").value.getOrElse("") == "ATMEL"){ selected }>ATMEL</option>
									<option value="ELNEC" @if(form("info.brand").value.getOrElse("") == "ELNEC"){ selected }>ELNEC</option>
									<option value="TOP" @if(form("info.brand").value.getOrElse("") == "TOP"){ selected }>TOP</option>
									<option value="SOFI-TECH" @if(form("info.brand").value.getOrElse("") == "SOFI-TECH"){ selected }>SOFI-TECH</option>
									<option value="Raspberry Pi" @if(form("info.brand").value.getOrElse("") == "Raspberry Pi"){ selected }>Raspberry Pi </option>
									<option value="ST" @if(form("info.brand").value.getOrElse("") == "ST"){ selected }>ST</option>
									<option value="InvenSense" @if(form("info.brand").value.getOrElse("") == "InvenSense"){ selected }>InvenSense</option>
									<option value="Eagle Power" @if(form("info.brand").value.getOrElse("") == "Eagle Power"){ selected }>Eagle Power</option>
									<option value="VISHAY" @if(form("info.brand").value.getOrElse("") == "VISHAY"){ selected }>VISHAY</option>
									<option value="Harvatek" @if(form("info.brand").value.getOrElse("") == "Harvatek"){ selected }>Harvatek</option>
									<option value="Andorin" @if(form("info.brand").value.getOrElse("") == "Andorin"){ selected }>Andorin</option>
									<option value="Sharp" @if(form("info.brand").value.getOrElse("") == "Sharp"){ selected }>Sharp</option>
								</select>
							</div>

							Xuất xứ
							<div style="margin-top: 3px;">
								<select name="info.origin" >
									<option value="Việt Nam" @if(form("info.origin").value.getOrElse("") == "Việt Nam"){ selected }>Việt Nam</option>
									<option value="Trung Quốc" @if(form("info.origin").value.getOrElse("") == "Trung Quốc"){ selected }>Trung Quốc</option>
									<option value="Chính hãng" @if(form("info.origin").value.getOrElse("") == "Chính hãng"){ selected }>Chính hãng</option>
									<option value="Taiwan" @if(form("info.origin").value.getOrElse("") == "Taiwan"){ selected }>Taiwan</option>
									<option value="UK" @if(form("info.origin").value.getOrElse("") == "UK"){ selected }>UK</option>
								</select>
							</div>

						</div>
						<div class="divRight">

							Kiểu chân"
							<div style="margin-top: 3px;">
								<select name="info.legType">
									<option value="NOPE" @if(form("info.legType").value.getOrElse("") == ""){ selected }>--Kiểu Chân--</option>
									<option value="DIP" @if(form("info.legType").value.getOrElse("") == "DIP"){ selected }>DIP</option>
									<option value="SIP" @if(form("info.legType").value.getOrElse("") == "SIP"){ selected }>SIP</option>
									<option value="LQFP" @if(form("info.legType").value.getOrElse("") == "LQFP"){ selected }>LQFP</option>
									<option value="PQFP" @if(form("info.legType").value.getOrElse("") == "PQFP"){ selected }>PQFP</option>
									<option value="QFN" @if(form("info.legType").value.getOrElse("") == "QFN"){ selected }>QFN</option>
									<option value="SOIC" @if(form("info.legType").value.getOrElse("") == "SOIC"){ selected }>SOIC</option>
									<option value="TQFP" @if(form("info.legType").value.getOrElse("") == "TQFP"){ selected }>TQFP</option>
									<option value="T-1 3/4" @if(form("info.legType").value.getOrElse("") == "T-1 3/4"){ selected }>T-1 3/4</option>
									<option value="SMD" @if(form("info.legType").value.getOrElse("") == "SMD"){ selected }>SMD</option>
									<option value="SMD0805" @if(form("info.legType").value.getOrElse("") == "SMD0805"){ selected }>SMD0805</option>
								</select>
							</div>

							Số chân
							<div style="margin-top: 3px;">
								<select name="info.legNumber">
									<option value="NOPE" @if(form("info.legNumber").value.getOrElse("") == ""){ selected }>--Số chân--</option>
									<option value="208" @if(form("info.legNumber").value.getOrElse("") == "208"){ selected }>208</option>
									<option value="100" @if(form("info.legNumber").value.getOrElse("") == "100"){ selected }>100</option>
									<option value="64" @if(form("info.legNumber").value.getOrElse("") == "64"){ selected }>64</option>
									<option value="44" @if(form("info.legNumber").value.getOrElse("") == "44"){ selected }>44</option>
									<option value="40" @if(form("info.legNumber").value.getOrElse("") == "40"){ selected }>40</option>
									<option value="32" @if(form("info.legNumber").value.getOrElse("") == "32"){ selected }>32</option>
									<option value="28" @if(form("info.legNumber").value.getOrElse("") == "28"){ selected }>28</option>
									<option value="24" @if(form("info.legNumber").value.getOrElse("") == "24"){ selected }>24</option>
									<option value="20" @if(form("info.legNumber").value.getOrElse("") == "20"){ selected }>20</option>
									<option value="16" @if(form("info.legNumber").value.getOrElse("") == "16"){ selected }>16</option>
									<option value="14" @if(form("info.legNumber").value.getOrElse("") == "14"){ selected }>14</option>
									<option value="8" @if(form("info.legNumber").value.getOrElse("") == "8"){ selected }>8</option>
									<option value="4" @if(form("info.legNumber").value.getOrElse("") == "4"){ selected }>4</option>
									<option value="2" @if(form("info.legNumber").value.getOrElse("") == "2"){ selected }>2</option>
								</select>
							</div>


							@bootstrap3.text(form("info.stock"),
								label = "Stock (Trong kho)",
								placeholder = "",
								help = "",
								value = form("info.stock").value.getOrElse(""))

							Đơn vị
							<div style="margin-top: 3px;">
								<select name="info.unit" >
									<option value="Cái" @if(form("info.unit").value.getOrElse("") == "Cái"){ selected }>Cái</option>
									<option value="Con" @if(form("info.unit").value.getOrElse("") == "Con"){ selected }>Con</option>
									<option value="Bộ" @if(form("info.unit").value.getOrElse("") == "Bộ"){ selected }>Bộ</option>
								</select>
							</div>

							Giá sản phẩm:
								<br>
								<input type="hidden" name="core.price[0].num" value="1">
								<input type="int" name="core.price[0].price" value="@form("core.price[0].price").value.getOrElse(0)">
						</div>
				</div>
				<br>
				Tag: <input type="text" name="url.tag[0]">
				<br>
				Vote: <input type="number" name="info.vote" value="@form("info.vote").value.getOrElse(0)">
				<br>
				Sold: <input type="number" name="info.sold" value="@form("info.sold").value.getOrElse(0)">
				<br>
				% saleOff: <input type="number" name="extra.saleOff1" value="@form("extra.saleOff1").value.getOrElse(0)">
				<br>
				$ saleOff: <input type="number" name="extra.saleOff2" value="@form("extra.saleOff2").value.getOrElse(0)" >

				<br/>
				Chú ý:
				<br/>
				<input name="extra.note" id="" cols="30" rows="4" value="@form("extra.note").value.getOrElse("")" style="width:940px">
				<br/>
				<br/>
				Thông tin sản phẩm:
				<br/>
				<textarea name="extra.info" id="editor" cols="30" rows="20" style="width:940px; ">
					@form("extra.info").value.getOrElse("")
				</textarea>
				}

			<br><br><br>
			<br><br><br>

		</div>
		<div id="slide" class="well">
			<div class="list-images" style="height: 430px;"></div>
			<hr/>
			<div class="images-view" style="float: left; cursor: no-drop"><div></div></div>
			<div style="display: inline; float: right; cursor: pointer" class="imageOk slide_close">
				<button>ok</button>
			</div>
		</div>


		<script>
			initSample();
		</script>
		<script src='@routes.Assets.versioned("javascripts/jquery/jquery-1.11.3.min.js")'></script>
		<script src='@routes.Assets.versioned("javascripts/popup_overlay/jquery.popupoverlay.js")'></script>


		<script>
$(document).ready(function () {

	var x = $('.view').length;

  $('#slide').popup({
      focusdelay: 400,
      outline: true,
      vertical: 'top'
  });

	$(".slide_open").click(function(){
	 $.ajax({
			type: "GET", // or GET
			url: "/image/list",
			success: function(data){
			 $(".list-images").html(data)
			}
    });
  });

  $(document).on('click', '.img-container', function(){
    if(x<5){
    var smallUrl = $(this).find('img:first').attr('src');
			$('.images-view > div').append(
				'<img class="view" src="' + smallUrl + '" alt=""/>'
			);
			x +=1;
		}
	});

	$(document).on('click', '.images-view > div > img', function(){
		$(this).remove();
		x-=1;
	});

	$(document).on('click', '.slide_open', function(){
		var images = $('.image-wrap > div');
		$('.images-view').empty().append(images);
	});

	$(document).on('click', '.imageOk', function(){
		var images = $('.images-view > div');
		$('.image-wrap').append(images);
		var z = 0;
		$('.listImage').empty();
		$('.image-wrap > div').children('img').each(function () {
      var smallUrl = $(this).attr('src');
			$('.listImage').append('<input type="hidden" name="info.image['+ z +'].origin" class="" value="'+ smallUrl.replace('/small/', '/origin/') +'">');
			$('.listImage').append('<input type="hidden" name="info.image['+ z +'].small" class="" value="'+ smallUrl +'">');
			$('.listImage').append('<input type="hidden" name="info.image['+ z +'].thumb" class="" value="'+ smallUrl.replace('/small/', '/thumb/') +'">');
			z+=1;
		});
	});

  $(document).on('keypress', '.search-image', function (event) {
         if(event.which === 13){
            $.ajax({
							type: "GET", // or GET
							url: "/image/list" + "?name=" + $(this).val(),
							success: function(data){
								 $(".list-images").html(data)
							}
						});
         }
  });

	$(document).on('click', '.back', function (event) {
        $.ajax({
					type: "GET", // or GET
					url: "/image/list" + "?name=" + $(".search-image").val() + "&page=" + (parseInt($('.page').text())-1).toString(),
					success: function(data){
						 $(".list-images").html(data)
					}
				});
  });

  $(document).on('click', '.next', function (event) {
        $.ajax({
					type: "GET", // or GET
					url: "/image/list" + "?name=" + $(".search-image").val() + "&page=" + (parseInt($('.page').text())+1).toString(),
					success: function(data){
						 $(".list-images").html(data)
					}
				});
  });

});

</script>


<script src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")"></script>
<script>
	$(".dropdown-menu div.sel").on('click' , function(){
		var supTypeUrl = $(this).parent().parent().children().first().children().first().text();
		console.log("supTypeUrl:" + supTypeUrl);
		var supType = $(this).parent().parent().children().first().children().last().text();
		console.log("supType:" + supType);

		var subTypeUrl = $(this).parent().children().first().children().first().text();
		console.log("subTypeUrl:" + subTypeUrl);
		var subType = $(this).parent().children().first().children().last().text();
		console.log("subType:" + subType);

		var groupUrl = $(this).children().first().text();
		console.log("groupUrl:" + groupUrl);
		var group = $(this).children().eq(1).children().first().clone();
		console.log(group);

		$(".sr-only").html($(this).children().last().text());

		$("#subTypeUrl").val(subTypeUrl);
		$("#subType").val(subType);
		$("#supTypeUrl").val(supTypeUrl);
		$("#supType").val(supType);
		$("#groupUrl").val(groupUrl);
		$("#groupSelect").empty().append(group);
		$("#groupSelect").children().first().attr('name', 'info.group');
	})
</script>
</body>
</html>