@(products: List[models.Product])

<!doctype html>
<html lang="vi">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
	</head>
	<body>
		@for(product <- products){

				<p>@product.code</p>
				<p>@product.name</p>
				<p>@routes.ProductCtrl.viewProduct(product.subTypeUrl, product.groupUrl, product.pUrl).url</p>
			<br>
			<a href="@routes.ProductCtrl.viewEdit(product.pUrl)">Edit</a>
			|
			<a href="@routes.ProductCtrl.viewProduct(product.subTypeUrl, product.groupUrl, product.pUrl)">view</a>
			|
			<form action="@routes.ProductCtrl.deleteProduct(product.id.getOrElse(""))" method="POST">
				<button type="submit">Delete</button>
			</form>
			<br> <br>
		}
		<style>
			p{
			display: inline;
			margin-right: 30px;
			}
			button{
				display: inline;
			}
			form{
				display: inline;
			}
		</style>
	</body>
</html>