@(assetCDN: String => String, title: String, products: List[models.Product], _sb: String = "", _v: String = "", _li: Int = 12)


<div class="right-panel ra-5 sa">

	<div class="scroll-title">
		<h2 class="ribbon ribbon-right">@title</h2>
	</div>

<div class="scroll scroll-right ">

	<ul>
		@for(product <- products){
			<li><div class="extra-product">
				<div class="extra-img ra-3 bo">
					<div class="img-center">
						<a href="@routes.ProductCtrl.viewProduct(product.url.subType, product.url.group, product.url.pUrl, _sb, _v, _li)">
							<img src="@assetCDN(product.info.image.head.small)" alt="@product.core.name" width="120" height="100">
						</a>
					</div>
				</div>

				<div class="extra-info">

					<div class="extra-name">
						<a href="@routes.ProductCtrl.viewProduct(product.url.subType, product.url.group, product.url.pUrl, _sb, _v, _li)">
							<h3>@product.core.name</h3>
						</a>
					</div>

					<div class="extra-price">
						@if(product.extra.saleOff1 > 0){
							<span class="old_price">@java.text.NumberFormat.getIntegerInstance.format(product.core.price.head.price)</span>
							<br>
							<span class="new_price">@java.text.NumberFormat.getIntegerInstance.format((product.core.price.head.price * (100 - product.extra.saleOff1))/100) <b>VND</b> (-@{product.extra.saleOff1}%)</span>
						} else {
							<span class="new_price">@java.text.NumberFormat.getIntegerInstance.format(product.core.price.head.price) <b>VND</b> </span>
						}
					</div>

				</div>

			</div></li>
		}
	</ul>
</div>
</div>
