<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
<div id="Results" class="">
  <div id="spf_content">
    <div class="rst" id="rsTabs">
      <div class="t225" id="mainContent" role="main" tabindex="-1">
        <div id="SISPivotItemContainer" class="clear">
        </div>

        <div id="MessageContainer">
        </div>

        <div id="VEPMContainer">
        </div>

        <w-root id="w1-1">


          <div id="e1-65" class="rsw" _sp="p2045573.m1686">

            <div id="ResultSetItems" class="clearfix">
              <div id="AnswersPlaceHolderContainer0">
              </div>

              <h2 class="hdnAcc">Items in search results</h2>
              <ul id="GalleryViewInner" class="gv-ic full-width left">
                <li id="item3a877a0f6c" _sp="p2045573.m1686.l10" class="sresult gvresult" r="1">
                  <div class="full-width mimg itmcd itmcdV2">

                    <div class="lyr">
                      <div class="img l-shad lftd">
                        <div class="img full-width" count="0" iid="251381026668">
                          <div class="multiImgHolder wpr">
                            <div class="imgWr">
                              <a href="http://www.ebay.com/itm/50PCS-NE555-555-DIP-8-IC-Timers-NEW-GOOD-QUALITY-/251381026668?hash=item3a877a0f6c" class="img imgWr2">
                                <img height="193" width="225" src="http://thumbs1.ebaystatic.com/d/l225/m/mby24DfGOWGFwdij7GRhcmA.jpg" class="img" alt="50PCS NE555 555 DIP-8 IC Timers NEW GOOD QUALITY">
                              </a>
                            </div>
                          </div>
                        </div>

                      </div>
                      <div class="gvtitle">
                        <h3>
                          <a href="http://www.ebay.com/itm/50PCS-NE555-555-DIP-8-IC-Timers-NEW-GOOD-QUALITY-/251381026668?hash=item3a877a0f6c" class="vip" title="Click this link to access 50PCS NE555 555 DIP-8 IC Timers NEW GOOD QUALITY">50PCS NE555 555 DIP-8 IC Timers NEW GOOD QUALITY</a>
                        </h3>
                      </div>

                      <div class="prices1">
                        <div class="timeLeftInfo">
                        </div>
                        <div class="bin">
				<span class="amt bold">
					 48,913.04 <b>VND</b></span>
				<span class="gvformat binBo">
							or Best Offer</span>
                        </div>
                      </div>

                      <div class="meta">
		<span class="etrsb">
				<img class="iconETRS1Badge" src="http://ir.ebaystatic.com/pictures/aw/pics/s_1x2.gif" alt="The item is listed as a Top Rated Plus item">
							</span>
                        <div class="lrow">
			<span class="ship">
	<span>
						<span class="bfsp">Free international shipping</span></span>
				</span></div>

                        <div class="hotness-GV bold">

                          <div class="hotness-signal red">
                            138 sold</div>
                        </div>

                      </div>
                    </div>
                  </div>
                </li>
              </ul>

              <div class="clear">
                <div id="merch_html_100199"></div>
              </div>
              <div id="AnswersPlaceHolderContainer9999">
              </div>
            </div>

          </div>
        </w-root>


      </div>
    </div>

  </div>
</div>
</body>
</html>