@(assetCDN: String => String, product: models.Product, supType: models.SupType, subType: models.SubType , group: models.GroupP,  _sb: String = "", _v: String = "", _li : Int = 8)


<div class="menuCol">
	<h2 class="ribbon">
		@{product.info.supType}
		>> <a href="@routes.ProductCtrl.collection(product.url.subType, "list", 1, _sb, "", _li, _v)">@product.info.subType</a>
		>> <a href="@routes.ProductCtrl.collection(product.url.subType, product.url.group, 1, _sb, "", _li, _v)">@product.info.group</a>
		>> @product.core.name
	</h2>
</div>


	<div class="pContainer simpleCart_shelfItem">

		<div class="pImg">
			<em>Hình ảnh có thể chỉ là đại diện, xem datasheet để có thông số chính xác hơn</em>
			<div class="img">
				<div class="targetarea"><img id="multizoom1"  alt="zoomable" title=""  src="@product.info.image.head.small" width="180" height="150"/></div>
				@*<div id="description">Milla Jojovitch</div>*@
				<div class="multizoom1 thumbs">
					@for(image <- product.info.image) {
						<a href="@image.small" data-large="@image.origin"  data-title="Milla Jojovitch"><img src="@image.thumb" alt="Milla" title="" width="35" height="35"/></a>
					}
				</div>
				<div id="lightbox">
				@for(image <- product.info.image) {
					@if(image.origin == product.info.image.head.origin){
						<a href="@image.origin" rel="lightbox-cats"> Click để phóng to!</a>
					} else {<a href="@image.origin" rel="lightbox-cats"></a>}
				}
				</div>

			</div>

		</div>

		<div class=" pDetail">
			<fieldset>
				<legend><div align="center">@product.core.code</div></legend>
				<div style=" float:left;"><span class="pdName item_name">@product.core.name</span></div>
				<br>
				<p>Nhân nhóm: @product.info.group</p>
				<p>Nhãn hiệu: @product.info.brand</p>
				<p>Xuất xứ: @product.info.origin</p>
				<p>Kiểu chân: @product.info.legType</p>
				<p>Số chân: @product.info.legNumber</p>
				<p>Trong kho còn: @product.info.stock</p>
				<p>Vote: @product.info.vote</p>
				<p>Đã bán được: @product.info.sold</p>
				@if(product.core.price.length == 1) {
					<p>Giá: @java.text.NumberFormat.getIntegerInstance.format(product.core.price.head.price) VND</p>
				} else {
					<table class="listPrice">
						<tr>
							<td>Số lượng:</td>
							@for(price <- product.core.price){
								<td>@price.num</td>
							}
						</tr>
						<tr>
							<td>Giá:</td>
							@for(price <-product.core.price){
								<td>@java.text.NumberFormat.getIntegerInstance.format(price.price) VND</td>
							}
						</tr>
					</table>
				}
			</fieldset>
		</div>

		Số lượng mua: <input type="text" value="1" class="item_quantity" size="1"  id="item-quantity">
		<div class="item_link hide">@routes.ProductCtrl.viewProduct(product.url.subType, product.url.group, product.url.pUrl, _sb, _v, _li)</div>
		<button  class="item_add">Add to Cart</button>

		<div class="pExtra">
			<ol id="toc">
				<li><a class=" active" href="#pro_info"><div><span>Thông tin sản phẩm</span></div></a></li>
				<li><a class=" inactive" href="#"><div><span>Sản phẩm cùng chức năng</span></div></a></li>
			</ol>

			<div class="pcExtra" id="pro_info">
				@Html(product.extra.info)
			</div>
		</div>
	</div>
