@(assetCDN: String => String, product: models.Product, supType: models.SupType, subType: models.SubType , group: models.GroupP,  _sb: String = "", _v: String = "", _li: Int = 8)

@views.html.partials.viewAside(supType, subType, group, product.url.subType, product.url.group, _sb, "", _li, _v)

<div id="pjax-container" class="content">
	<div class="c-left">
		<div class="pContainer simpleCart_shelfItem">
			<div class="pHeader">
				<div>
					Phần cứng, Thiết bị... >
					Accessory Booard > Keypad Modules > TOUCH-CAP-4x4
				</div>
			</div>

			<div class="pImg">
				<em>Hình ảnh có thể chỉ là đại diện, xem datasheet để có thông số chính xác hơn</em>
				<div class="img">
					<div class="targetarea"><img id="multizoom1"  alt="zoomable" title=""  src="@assetCDN(product.info.image.head.thumb)" width="180" height="150"/></div>
					@*<div id="description">Milla Jojovitch</div>*@
					<div class="multizoom1 thumbs">
					@for(image <- product.info.image) {
						<a href="@assetCDN(image.small)" data-large="@assetCDN(image.origin)"  data-title="Milla Jojovitch"><img src="@image.thumb" alt="Milla" title="" width="35" height="35"/></a>
					}
					</div>
					<div id="lightbox">
					@for(image <- product.info.image) {
						@if(image.origin == product.info.image.head.origin){
							<a href="@assetCDN(image.origin)" rel="lightbox-cats"> Click để phóng to!</a>
						} else {<a href="@assetCDN(image.origin)" rel="lightbox-cats"></a>}
					}
					</div>

				</div>


			</div>

			<div class=" pDetail">
				<fieldset>
					<legend><div align="center">@product.core.code</div></legend>
					<div style=" float:left;"><span class="pdName item_name">@product.core.name</span></div>
					<br>
					<p>Nhân nhóm: @product.info.group</p>
					<p>Nhãn hiệu: @product.info.brand</p>
					<p>Xuất xứ: @product.info.origin</p>
					<p>Kiểu chân: @product.info.legType</p>
					<p>Số chân: @product.info.legNumber</p>
					<p>Trong kho còn: @product.info.stock</p>
					<p>Vote: @product.info.vote</p>
					<p>Đã bán được: @product.info.sold</p>
					@if(product.core.price.length == 1) {
						<p>Giá: @java.text.NumberFormat.getIntegerInstance.format(product.core.price.head.price) VND</p>
					} else {
						<table class="listPrice">
							<tr>
								<td>Số lượng:</td>
								@for(price <- product.core.price){
									<td>@price.num</td>
								}
							</tr>
							<tr>
								<td>Giá:</td>
								@for(price <-product.core.price){
									<td>@java.text.NumberFormat.getIntegerInstance.format(price.price) VND</td>
								}
							</tr>
						</table>
					}
				</fieldset>
			</div>
			<div style="float:right">Số lượng mua: <input type="text" value="1" class="item_quantity" size="1"  id="item-quantity"></div>
			<div style="float:right" class="item_link hide">@routes.ProductCtrl.viewProduct(product.url.subType, product.url.group, product.url.pUrl, _sb, _v, _li)</div>
			<button style="float:right" class="item_add">Add to Cart</button>

			<div class="pExtra">
				<ol id="toc">
					<li><a class=" active" href="#pro_info"><div><span>Thông tin sản phẩm</span></div></a></li>
					<li><a class=" inactive" href="#"><div><span>Sản phẩm cùng chức năng</span></div></a></li>
				</ol>

				<div class="pcExtra" id="pro_info">
				@Html(product.extra.info)
				</div>
			</div>
		</div>
	</div>
	<div class="c-right ra-5">
		<div class="demo"></div>
	</div>
</div>