@(assetCDN: String => String, product: models.Product, supType: models.SupType, subType: models.SubType , group: models.GroupP,  _sb: String = "", _v: String = "", _li : Int = 8)


<div class="menuCol">
	<h2 class="ribbon">
		@{product.info.supType}
		>> <a href="@routes.ProductCtrl.collection(product.url.subType, "list", 1, _sb, "", _li, _v)">@product.info.subType</a>
		>> <a href="@routes.ProductCtrl.collection(product.url.subType, product.url.group, 1, _sb, "", _li, _v)">@product.info.group</a>
		>> @product.core.name
	</h2>
</div>


	<div class="pContainer simpleCart_shelfItem">

		<div class="pImg">
			<div class="img multizoomWr">
				<div class="multizoom1 thumbs">
				@for(image <- product.info.image) {
					<a href="@image.small" data-large="@image.origin"  data-title="Milla Jojovitch">
						<img class="@if(image.thumb == product.info.image.head.thumb){ tActive } tImg" src="@image.thumb" alt="Milla" title="" width="35" height="35"/>
					</a>
				}
				</div>
				<div class="imgInfo">
						<div class="targetarea ra-3 bo"><img id="multizoom1"  alt="zoomable" title=""  src="@product.info.image.head.small" width="180" height="150"/></div>
						@*<div id="description">Milla Jojovitch</div>*@
				</div>
			</div>

			<div id="lightbox">
				@for(image <- product.info.image) {
					@if(image.origin == product.info.image.head.origin){
						<a href="@image.origin" rel="lightbox-cats" > Click để phóng to!</a>
					} else {<a href="@image.origin" rel="lightbox-cats" onclick="return false;" ></a>}
				}
			</div>
		</div>

		<div class=" pDetail">
			<div class="pInfo">
				<fieldset class="ra-3">
					<legend><div class="ra-3" align="center">@product.core.code</div></legend>
					<h1 class="ttl">@product.core.name</h1><span class="tUpdate"> (Cập nhập @product.updateDate.map(u => org.joda.time.format.DateTimeFormat.forPattern("MMM dd, yyyy").print(u)).orElse(Some("n/a")))</span>

					<div class="lineWr lineFirst">
						<div>Mã hàng: <strong>@product.core.code</strong></div>
						<div>Ngày đăng: <strong>@product.creationDate.map(u => org.joda.time.format.DateTimeFormat.forPattern("MMM dd, yyyy").print(u)).orElse(Some("n/a"))</strong> </div>
					</div>

					<div class="lineWr">
						<div>Nhãn hiệu: <strong>@product.info.brand</strong></div>
						<div>Xuất xứ: <strong>@product.info.origin</strong></div>
					</div>

					<div class="lineWr">
						<div>Phân Nhóm: <strong>@product.info.group</strong></div>
					</div>

					@if(product.info.legType != "NOPE" || product.info.legNumber != "NOPE"){
						<div class="lineWr">
							@if(product.info.legType != "NOPE"){
								<div>Kiểu chân: <strong>@product.info.legType</strong></div>
							}
							@if(product.info.legNumber != "NOPE"){
								<div>Số chân: <strong>@product.info.legNumber</strong></div>
							}
						</div>
					}

					<div class="lineWr">
						<div>Giá bán:
							@if(product.core.price.length == 1) {
								<strong>@java.text.NumberFormat.getIntegerInstance.format(product.core.price.head.price) VND</strong>
							} else {
								<table class="listPrice">
									<tr>
										<td>Số lượng(@product.info.unit):</td>
										@for(price <- product.core.price){
											<td>@price.num</td>
										}
									</tr>
									<tr>
										<td>Giá(VNĐ):</td>
										@for(price <-product.core.price){
											<td>@java.text.NumberFormat.getIntegerInstance.format(price.price) VND</td>
										}
									</tr>
								</table>
							}
						</div>
					</div>

					<div class="lineWr">
						<div>Đơn vị tính: <strong>@product.info.unit</strong></div>
						<div>Stock: <strong>@product.info.stock</strong></div>
					</div>

				</fieldset>
			</div>
		</div>

		<div class="pExtra">
			<div class="pettl">
				
			</div>

		</div>

	</div>
