@(assetCDN: String => String)

<div class="header">

	<div class="h-top">
		<div class="hm-left">

		</div>
		<div class="hm-middle">
			<div class="hmm-left">
				<div class="hmml-top">
					<form class="search_bar">
						<div class="search_dropdown" style="width: 16px;">
							<span>All</span>
							<ul>
								<li class="selected">All</li>
								<li>Máy Nạp & Adapter</li>
								<li>Board Phát triển</li>
								<li>Sensors, Transducers</li>
								<li>Memory ICs</li>
								<li>LEDs</li>
								<li>LCDs Display</li>
							</ul>
						</div>

						<input type="text" placeholder="Tìm kiếm sản phẩm ..." />

						<button type="submit" value="Search">Search</button>
					</form>
				</div>
				<div class="hmml-bot">
					Ví dụ: Bộ Hẹn Giờ, Nguồn, Cảm Biến, WiFi, Bluetooth ...
				</div>
			</div>
			<div class="hmm-right ra-3">

			</div>
		</div>

	</div>


</div>

<div class="sub-nav sa">
	<div class="sn-left">
		<div class="nsl-t"></div>
		<div class="nsl-b">
		</div>
	</div>

	<div class="sn-right">
		<a href="#">Sản Phẩm Mới</a>
		<a href="#">Sản Phẩm Bán Chạy</a>
		<a href="#">Sản Phẩm Nổi Bật</a>
		<a href="#">Sản Phẩm Khuyến Mãi</a>
		<a href="#" class="f-r" style="float:right; color: red !important;" onclick="return false;">HOTLINE : 01666 555 336</a>
		<a href="#" class="f-r" style="float:right">Hướng dẫn mua hàng online</a>
	</div>
</div>