@(assetCDN: String => String)

<div class="header">

	<div class="h-top">
		<div class="hm-left">
			<div class="logo">
				<img src="@assetCDN(routes.Assets.versioned("imageDemo/logo2.jpg").url)" alt="" >
			</div>
		</div>
		<div class="hm-middle">
			<div class="search">
				@*<input id="t-input" class="t-input" type="text">*@
				@*<button id="t-search" class="t-input" type="submit">Search</button>*@
			</div>
		</div>
		<div class="hm-right"></div>
	</div>

	<div class="h-middle"></div>

</div>

<div class="sub-nav sa">
	<div class="sn-left">
		<div class="nsl-t"></div>
		<div class="nsl-b">
		</div>
	</div>

	<div class="sn-right">
		<a href="#">Sản Phẩm Mới</a>
		<a href="#">Sản Phẩm Bán Chạy</a>
		<a href="#">Sản Phẩm Nổi Bật</a>
		<a href="#">Sản Phẩm Khuyến Mãi</a>
		<a href="#" class="f-r" style="float:right; color: red !important;" onclick="return false;">HOTLINE : 01666 555 336</a>
		<a href="#" class="f-r" style="float:right">Hướng dẫn mua hàng online</a>
	</div>
</div>