@(assetCDN: String => String)

<div class="header">
	<div class="hm-left">
		<div class="logo">
			<img src="@assetCDN(routes.Assets.versioned("imageDemo/logo2.png").url)" alt="" >
		</div>
		<div class="menu">
			<img src="@assetCDN(routes.Assets.versioned("imageDemo/menu-icon.png").url)" alt="">
		</div>
	</div>
	<div class="hm-middle">
		<div class="search">
			<input id="t-input" class="t-input" type="text">
			<button id="t-search" class="t-input" type="submit">Search</button>
		</div>
	</div>
	<div class="hm-right"></div>
</div>