@(assetCDN: String => String)

<div class="c-right ra-3">
	<div class="support">
		<div class="box-heading">
			<span>Hỗ trợ trực tuyến</span>
			<em class="shapes right"></em>
			<em class="line"></em>
		</div>
		<div class="box-content">
			<tbody>
				<tr>
					<td align="left">Tư vấn mua hàng 1:&nbsp;</td>
					<td align="left">0888.888.888 <br></td>
				</tr>
				<tr>
					<td align="left">Tư vấn mua hàng 2:&nbsp;</td>
					<td align="left">0888.888.888 <br></td>
				</tr>
				<tr>
					<td align="left">Hỗ trợ khách hàng:</td>
					<td><span class="clorOran">099.999.999</span><br></td>
				</tr>
				<tr>
					<td align="left"><span class="clorOran">Hỗ trợ đại lý:</span></td>
					<td><strong style="color: rgb(255, 0, 0);">0999.999.998</strong> <br></td>
				</tr>
				<tr>
					<td align="left">Hotline 24/7:&nbsp;</td>
					<td><strong style="color: rgb(255, 0, 0);">0999.999.998</strong> <br></td>
				</tr>
			</tbody>
		</div>
	</div>

	<div class="map">Map</div>

	<div class="sale-off ra-3">
		<div class="box-heading">Sản phẩm khuyến mãi</div>
		<div  class="scroll scroll-right">
			<ul>
				<li><div class="extra-product">1</div></li>
				<li><div class="extra-product">2</div></li>
				<li><div class="extra-product">3</div></li>
				<li><div class="extra-product">4</div></li>
				<li><div class="extra-product">5</div></li>
				<li><div class="extra-product">6</div></li>
				<li><div class="extra-product">7</div></li>
				<li><div class="extra-product">8</div></li>
				<li><div class="extra-product">9</div></li>
				<li><div class="extra-product">10</div></li>
				<li><div class="extra-product">11</div></li>
				<li><div class="extra-product">12</div></li>
			</ul>
		</div>
	</div>

</div>

